<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>product artifact</title>
<style type="text/css">
  h1{
  color:blue;
   }
   table{
   border-collapse:collapse;
   line-height:30px;
   text-align:center;
   border:none;
   color:#000000;
   font-style:Times New Roman;
   }
      .b{
    width:60px;
    heigth:15px;
    paddding:10px;
    background:green;
    color:white;
    border-radius:2px solid green;}
      div{
   width:600px;
   margin:0 auto;
   padding:20px;
   heigth:auto;
   background:#e5e6e7;}  
</style>
</head>
<body>
  <div align="center">
  <h1>NEW BUSINESS ARTIFACT</h1>
<form action="#" th:action="@{/crud/save}" th:object="${business}" method="post">
<table border="1">
    <tr>
   <td>Business name</td>
     <td><input type="text" th:field="*{name}" /></td> 
     </tr>
     <tr>
      <td>Good type</td>
     <td><input type="text" th:field="*{goods}"/></td>
     </tr>  
     <tr>
       <td>Owner</td>
     <td><input type="text" th:field="*{Owner}"/></td>
     </tr>
    <tr>
     <td>Location</td>
     <td><input type="text" th:field="*{Locaton}"/></td> 
    </tr>
    <tr>
     <td>Amount per Day</td>
     <td><input type="text" th:field="*{amount_p_day}"/></td> 
     </tr>
     <tr>
      <td>password</td>
     <td><input type="text" th:field="*{Password}"/></td> 
     </tr>
  <tr>
  <td colspan="2"><button type="submit" class="b">Save</button>
  </td>
  </tr>
</table>
</form>
</div>
</body>
</html>